<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discord V2</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .other-forms {
         max-width: 500px;
         margin: 0 auto;
        }
        form div {
         display: flex;
         flex-direction: column;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'home' %}">Blog</a>
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Главная</a></li>
            {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'create_post' %}">Создать пост</a></li>
            {% endif %}
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-link">Выйти</button>
                </form>
            {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Вход</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'signup' %}">Регистрация</a></li>
            {% endif %}
        </ul>
    </nav>
    <div class="container mt-4">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
